source https://nuget.org/api/v2
nuget Fixie
nuget FubuCore
nuget Microsoft.CodeAnalysis.CSharp
nuget Newtonsoft.Json
nuget Npgsql
nuget Octokit
nuget Remotion.Linq
nuget Shouldly
nuget Storyteller 3.0.0.280-alpha
nuget structuremap