@{
  Layout = "_Layout.cshtml";
}   



<h2>What is NerdDinner.com?</h2>
<div id="about">
	<p><img src="@Url.Content("~/images/nerd.jpg")" height="200" style="float:left; padding-right:20px" alt="Picture of a huge nerd."/>Are you a huge nerd? Perhaps a geek? No? Maybe a dork, dweeb or wonk. 
	Quite possibly you're just a normal person. Either way, you're a social being. You need to get out for a bite
	to eat occasionally, preferably with folks that are like you.</p>
	<p>Enter <a href="http://dinnerparty.azurewebsites.net">NerdDinner.com</a>, for all your event planning needs. We're focused on one thing. Organizing the world's
	nerds and helping them eat in packs. </p>
	<p>We're free and fun. <a href="@Url.Content("~/")">Find a dinner near you</a>, or <a href="@Url.Content("~/dinners/create")">host a dinner</a>. Be social.</p>
	<p>We also have blog badges and widgets that you can install on your blog or website so your readers can get 
	involved in the Nerd Dinner movement. Well, it's not really a movement. Mostly just geeks in a food court, but still.</p>

    <p><strong>This website is a port of NerdDinner using Nancy as the web framework and Marten for storage. This website is for strictly demo purposes and so if you want to organise a valid meetup please visit <a href="http://www.nerddinner.com">NerdDinner</a></strong></p>
</div>
<div id="nancyraven">
<img src="@Url.Content("~/images/dinnerparty.png")" />
</div>