@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>

@if (Model.Dinner.IsHostedBy(Model.Page.CurrentUser)) { 
    <a href="/dinners/edit/@Model.Dinner.Id">Edit Dinner</a>
    <text>|</text>
     <a href="/dinners/delete/@Model.Dinner.Id">Delete Dinner</a>

}
