@{
    Layout = "_Layout.cshtml";
}

 <h2>Dinner Deleted</h2>

<div>
	<p>Your dinner was successfully deleted.</p>
</div>
	
<div>
	<p><a href="@Url.Content("~/dinners")">Click for Upcoming Dinners</a></p>
</div>