:root {
  --vp-c-brand: #ac8464;
  --vp-c-brand-light: #b38c6c;
  --vp-c-brand-dark: #ac8464;
  --vp-home-hero-name-color: var(--vp-c-brand); 
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-border: #c9b8a9;
  --vp-button-brand-hover-border: var(--vp-button-brand-border);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
}