@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}

<h2>
	Login Error
</h2>

<div>
	<p>There has been a login problem: 
	<i> @Model.LoginModel </i> </p>
</div>