@using DinnerParty.HtmlExtensions
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>

@{
  Layout = "_Layout.cshtml";
}   

<h2>@Model.Page.Title</h2>

@section HeadArea {
<script type="text/javascript">
    (function () {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
        @{
            if (@Html.IsDebug())
            {
                <text>janrain.settings.tokenUrl = 'http://localhost:63155/account/token';</text>
            }
            else
            {
                <text>janrain.settings.tokenUrl = 'http://dinnerparty.azurewebsites.net/account/token';</text>
            }
        }
        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
            window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
            e.src = 'https://rpxnow.com/js/lib/dinnerparty/engage.js';
        } else {
            e.src = 'http://widget-cdn.rpxnow.com/js/lib/dinnerparty/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
</script>
  }
<div id="login"> 
<div id="janrainEngageEmbed" class="login-oauth"></div>

<div id="or">
<p>OR</p>
</div>
   
@Html.Partial("_LogonNative", Model)

</div>