# Editor configuration, see http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
ij_markdown_wrap_text_if_long = false
ij_markdown_wrap_text_inside_blockquotes = false

###############################
# .NET Coding Conventions     #
###############################

[*.cs]
# Organize usings
dotnet_sort_system_directives_first = true:warning
dotnet_separate_import_directive_groups = false:warning

# this. preferences
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_readonly_field = true:warning

# Expression-level preferences
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true
dotnet_style_coalesce_expression = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:silent

###############################
# Naming Conventions          #
###############################

# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Use PascalCase for constant fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities = *
dotnet_naming_symbols.constant_fields.required_modifiers = const

###############################
# C# Code Style Rules         #
###############################

[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent

# Pattern-matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning

# Null-checking preferences
csharp_style_throw_expression = true:warning
csharp_style_conditional_delegate_call = true:suggestion

# Modifier preferences
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion

# Expression-level preferences
csharp_prefer_braces = true:information
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:warning
csharp_style_pattern_local_over_anonymous_function = true:warning
csharp_style_inlined_variable_declaration = true:warning

###############################
# C# Formatting Rules         #
###############################

# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = false
csharp_space_after_colon_in_inheritance_clause = true

csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Wrapping preferences
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true


###############################
# Reliability Inspections     #
###############################

# CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = error

# VSTHRD002 Avoid problematic synchronous waits
dotnet_diagnostic.VSTHRD002.severity = warning

# VSTHRD011 Use AsyncLazy<T>
dotnet_diagnostic.VSTHRD011.severity = warning

# VSTHRD100 Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = error

# VSTHRD101 Avoid unsupported async delegates
dotnet_diagnostic.VSTHRD101.severity = error

# VSTHRD102 Implement internal logic asynchronously
dotnet_diagnostic.VSTHRD102.severity = error

# VSTHRD103 Call async methods when in an async method
dotnet_diagnostic.VSTHRD103.severity = error

# VSTHRD110 Observe result of async calls
dotnet_diagnostic.VSTHRD110.severity = warning

# VSTHRD111 Use .ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = error

# VSTHRD112 Implement System.IAsyncDisposable
dotnet_diagnostic.VSTHRD112.severity = error

# VSTHRD200 Use Async suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none


dotnet_diagnostic.MA0001.severity = none
dotnet_diagnostic.MA0002.severity = none
dotnet_diagnostic.MA0003.severity = none
dotnet_diagnostic.MA0004.severity = none
dotnet_diagnostic.MA0005.severity = none
dotnet_diagnostic.MA0006.severity = none
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.MA0008.severity = none
dotnet_diagnostic.MA0009.severity = none
dotnet_diagnostic.MA0010.severity = none
dotnet_diagnostic.MA0011.severity = none
dotnet_diagnostic.MA0012.severity = none
dotnet_diagnostic.MA0013.severity = none
dotnet_diagnostic.MA0014.severity = none
dotnet_diagnostic.MA0015.severity = none
dotnet_diagnostic.MA0016.severity = none
dotnet_diagnostic.MA0017.severity = none
dotnet_diagnostic.MA0018.severity = none
dotnet_diagnostic.MA0019.severity = none
dotnet_diagnostic.MA0020.severity = none
dotnet_diagnostic.MA0021.severity = none
dotnet_diagnostic.MA0022.severity = none
dotnet_diagnostic.MA0023.severity = none
dotnet_diagnostic.MA0024.severity = none
dotnet_diagnostic.MA0025.severity = none
dotnet_diagnostic.MA0026.severity = none
dotnet_diagnostic.MA0027.severity = none
dotnet_diagnostic.MA0028.severity = none
dotnet_diagnostic.MA0029.severity = none
dotnet_diagnostic.MA0030.severity = none
dotnet_diagnostic.MA0031.severity = none
# Use an overload with a CancellationToken argument
dotnet_diagnostic.MA0032.severity = error
dotnet_diagnostic.MA0033.severity = none
dotnet_diagnostic.MA0035.severity = none
dotnet_diagnostic.MA0036.severity = none
dotnet_diagnostic.MA0037.severity = none
dotnet_diagnostic.MA0038.severity = none
dotnet_diagnostic.MA0039.severity = none
# Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.MA0040.severity = error
dotnet_diagnostic.MA0041.severity = none
dotnet_diagnostic.MA0042.severity = none
dotnet_diagnostic.MA0043.severity = none
dotnet_diagnostic.MA0044.severity = none
dotnet_diagnostic.MA0045.severity = none
dotnet_diagnostic.MA0046.severity = none
dotnet_diagnostic.MA0047.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0049.severity = none
dotnet_diagnostic.MA0050.severity = none
dotnet_diagnostic.MA0051.severity = none
dotnet_diagnostic.MA0052.severity = none
dotnet_diagnostic.MA0053.severity = none
dotnet_diagnostic.MA0054.severity = none
dotnet_diagnostic.MA0055.severity = none
dotnet_diagnostic.MA0056.severity = none
dotnet_diagnostic.MA0057.severity = none
dotnet_diagnostic.MA0058.severity = none
dotnet_diagnostic.MA0059.severity = none
dotnet_diagnostic.MA0060.severity = none
dotnet_diagnostic.MA0061.severity = none
dotnet_diagnostic.MA0062.severity = none
dotnet_diagnostic.MA0063.severity = none
dotnet_diagnostic.MA0064.severity = none
dotnet_diagnostic.MA0065.severity = none
dotnet_diagnostic.MA0066.severity = none
dotnet_diagnostic.MA0067.severity = none
dotnet_diagnostic.MA0068.severity = none
dotnet_diagnostic.MA0069.severity = none
dotnet_diagnostic.MA0070.severity = none
dotnet_diagnostic.MA0071.severity = none
dotnet_diagnostic.MA0072.severity = none
dotnet_diagnostic.MA0073.severity = none
dotnet_diagnostic.MA0074.severity = none
dotnet_diagnostic.MA0075.severity = none
dotnet_diagnostic.MA0076.severity = none
dotnet_diagnostic.MA0077.severity = none
dotnet_diagnostic.MA0078.severity = none
dotnet_diagnostic.MA0079.severity = none
dotnet_diagnostic.MA0080.severity = none
dotnet_diagnostic.MA0081.severity = none
dotnet_diagnostic.MA0082.severity = none
dotnet_diagnostic.MA0083.severity = none
dotnet_diagnostic.MA0084.severity = none
dotnet_diagnostic.MA0085.severity = none
dotnet_diagnostic.MA0086.severity = none
dotnet_diagnostic.MA0087.severity = none
dotnet_diagnostic.MA0088.severity = none
dotnet_diagnostic.MA0089.severity = none
dotnet_diagnostic.MA0090.severity = none
dotnet_diagnostic.MA0091.severity = none
dotnet_diagnostic.MA0092.severity = none
dotnet_diagnostic.MA0093.severity = none
dotnet_diagnostic.MA0094.severity = none
dotnet_diagnostic.MA0095.severity = none
dotnet_diagnostic.MA0096.severity = none
dotnet_diagnostic.MA0097.severity = none
dotnet_diagnostic.MA0098.severity = none
